body{
    text-align: center;
    font-family: sans-serif;
}

#bkg{
    background-color: #fdfafa ;
    padding: 20px;
    border-radius: 5px;
}

#bkgmain{
    background-color: lightgoldenrodyellow;
    border-radius: 10px;
}

.bold{
    font-weight: 700;
}

span{
    font-weight: 100 !important;
}

.bullet{
    display: flex;
    justify-content: center;
    text-align: justify;
}
ul {
    margin: -10px;
    width: 550px;
}

#profile{
    border-radius: 2px;
    box-shadow: 0px 5px 15px 5px lightgrey;
    max-width: 100%;
    height:auto;
}

h1, h3, figcaption{
    padding: 20px;
}

li{
    line-height: 1.5em;
    font-size: 15px;
    margin-bottom: 15px;
}

figcaption{
    font-family: monospace;
}

/**This element is coming out of the parent when screen width is getting reduced**/
#mms p{
    font-style: italic;
margin-left: 400px;
margin-right: 400px;
text-align: justify;
justify-content: center;
font-size: 15px;
line-height: 1.5;
max-width: 500px;
width: 100%;
}

cite{
    font-size: 15px;
    text-align: left;
    margin-left: -250px;
}